{% extends 'blogapp/base.html' %}

{% block title %}
    Article List
{% endblock %}

{% block body %}
    <h1>Articles:</h1>

    {% if articles %}
        <div>
            {% for article in articles %}
                <p>Title: {{ article.title }}</p>
                <p>Pub date: {{ article.pub_date }}</p>
                <p>Author: {{ article.author }}</p>
                <p>Category: {{ article.category }}</p>
                <p>Tags:</p>

                {% for tag in article.tags.all %}
                    <li>{{ tag.name }}</li>
                {% endfor %}

            {% endfor %}
        </div>

    {% else %}
        <h3>No article yet</h3>
    {% endif %}

{% endblock %}